name: update-notify-push
on:
  schedule:
    - cron: "0 5 * * 1" 
  workflow_dispatch:  

jobs:
  update-notify-push:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6
      with:
        fetch-depth: 0
        token: ${{ secrets.PAT_BOT }} 
    
    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get install -y jq curl

    - name: Update Dockerfile
      run: bash .ci/updater.sh
    
    - name: Push changes and tags
      run: |
        git remote set-url origin https://${{ secrets.PAT_BOT }}@github.com/${{ github.repository }}.git
        git push origin ${{ github.ref }}
        git push origin --tags
